<a href="https://colab.research.google.com/github/rajasreekalli/datascience-dojo/blob/main/Abalone_Linear_Regression_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [113]:
import pandas as pd
import numpy as np

In [114]:
df = pd.read_csv('/content/drive/MyDrive/abalone.data')
df

      M  0.455  0.365  0.095   0.514  0.2245   0.101    0.15  15
0     M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.0700   7
1     F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.2100   9
2     M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.1550  10
3     I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.0550   7
4     I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.1200   8
...  ..    ...    ...    ...     ...     ...     ...     ...  ..
4171  F  0.565  0.450  0.165  0.8870  0.3700  0.2390  0.2490  11
4172  M  0.590  0.440  0.135  0.9660  0.4390  0.2145  0.2605  10
4173  M  0.600  0.475  0.205  1.1760  0.5255  0.2875  0.3080   9
4174  F  0.625  0.485  0.150  1.0945  0.5310  0.2610  0.2960  10
4175  M  0.710  0.555  0.195  1.9485  0.9455  0.3765  0.4950  12

[4176 rows x 9 columns]

In [115]:
df = {'Length': [0.455, 0.350, 0.530, 0.440, 0.330, 0.425],
        'Diameter' : [0.365, 0.265, 0.420, 0.365, 0.255, 0.300],
        'Height' : [0.095, 0.090, 0.135, 0.125, 0.080, 0.095],
        'Whole weight' : [0.512, 0.2255, 0.6770, 0.5160, 0.2050, 0.3515],
        'Shucked weight' : [0.2245, 0.0995, 0.2565, 0.2155, 0.0895, 0.1410],
        'Viscera weight' : [0.101, 0.0485, 0.1415, 0.1140, 0.0395, 0.0775],
        'Shell weight' : [0.15, 0.070, 0.210, 0.155, 0.055, 0.120],
        'Sex' : ['m', 'm', 'f', 'm', 'i', 'i'],
        'Age' : [16.5, 8.5, 10.5, 11.5, 8.5, 9.5],
        'Rings' : [15, 7, 9, 10, 7, 8]}
df = pd.DataFrame(df)
df

   Length  Diameter  Height  Whole weight  ...  Shell weight  Sex   Age Rings
0   0.455     0.365   0.095        0.5120  ...         0.150    m  16.5    15
1   0.350     0.265   0.090        0.2255  ...         0.070    m   8.5     7
2   0.530     0.420   0.135        0.6770  ...         0.210    f  10.5     9
3   0.440     0.365   0.125        0.5160  ...         0.155    m  11.5    10
4   0.330     0.255   0.080        0.2050  ...         0.055    i   8.5     7
5   0.425     0.300   0.095        0.3515  ...         0.120    i   9.5     8

[6 rows x 10 columns]

In [116]:
#  Transform the categorical variable (sex) by dummy encoding it.
ohe_df = pd.get_dummies(df, columns = ['Sex'], drop_first = True)
ohe_df.head()

   Length  Diameter  Height  Whole weight  ...   Age  Rings  Sex_i  Sex_m
0   0.455     0.365   0.095        0.5120  ...  16.5     15      0      1
1   0.350     0.265   0.090        0.2255  ...   8.5      7      0      1
2   0.530     0.420   0.135        0.6770  ...  10.5      9      0      0
3   0.440     0.365   0.125        0.5160  ...  11.5     10      0      1
4   0.330     0.255   0.080        0.2050  ...   8.5      7      1      0

[5 rows x 11 columns]

In [117]:
df['Sex'].unique()

array(['m', 'f', 'i'], dtype=object)

In [118]:
df['Sex'] = df['Sex'].replace('Low', 0)

In [119]:
Sex = {'i': 0, 'm': 1, 'f': 2}

In [120]:
df['Sex'] = df['Sex'].replace(Sex)

In [121]:
ohe_df = pd.get_dummies(df, columns = ['Sex'], drop_first = True)
ohe_df.head()

   Length  Diameter  Height  Whole weight  ...   Age  Rings  Sex_1  Sex_2
0   0.455     0.365   0.095        0.5120  ...  16.5     15      1      0
1   0.350     0.265   0.090        0.2255  ...   8.5      7      1      0
2   0.530     0.420   0.135        0.6770  ...  10.5      9      0      1
3   0.440     0.365   0.125        0.5160  ...  11.5     10      1      0
4   0.330     0.255   0.080        0.2050  ...   8.5      7      0      0

[5 rows x 11 columns]

In [122]:
df.tail()

   Length  Diameter  Height  Whole weight  ...  Shell weight  Sex   Age  Rings
1   0.350     0.265   0.090        0.2255  ...         0.070    1   8.5      7
2   0.530     0.420   0.135        0.6770  ...         0.210    2  10.5      9
3   0.440     0.365   0.125        0.5160  ...         0.155    1  11.5     10
4   0.330     0.255   0.080        0.2050  ...         0.055    0   8.5      7
5   0.425     0.300   0.095        0.3515  ...         0.120    0   9.5      8

[5 rows x 10 columns]

In [123]:
# Separate your data into the features matrix (X) and target vector (y).
y = df['Rings']
X = df.drop(columns = 'Rings')

In [124]:
from sklearn.model_selection import train_test_split

In [125]:
# Create a train, test, split on the data. Please use random number 42 for consistency.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [126]:
len(X_train)

4

In [127]:
len(X_test)

2

In [128]:
len(y_train)

4

In [129]:
len(y_test)

2

In [130]:
y = ohe_df['Rings']
X = ohe_df.drop(columns=['Rings'])

In [131]:
print(X.shape)
print(y.shape)

(6, 10)
(6,)

In [105]:
# Instantiate and fit the model.
from sklearn.linear_model import LinearRegression

In [106]:
reg = LinearRegression()

In [107]:
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [108]:
# Use the model to make predictions on the test set.
train_preds = reg.predict(X_train)

In [109]:
test_preds = reg.predict(X_test)

In [110]:
train_score = reg.score(X_train, y_train)
print(train_score)

1.0

In [111]:
# Find the R^2 value of your model.
test_score = reg.score(X_test, y_test)
print(test_score)

0.9999994333476594

In [112]:
# Evaluate your test set results using RMSE
from sklearn.metrics import mean_squared_error
reg_model = LinearRegression()
reg_model.fit(X_train, y_train)
print('Training RMSE:', np.sqrt(mean_squared_error(y_train, reg_model.predict(X_train))))
print('Testing RMSE:', np.sqrt(mean_squared_error(y_test, reg_model.predict(X_test))))

Training RMSE: 8.881784197001252e-16
Testing RMSE: 0.0030110525485735743