<a href="https://colab.research.google.com/github/rajasreekalli/datascience-dojo/blob/main/booleans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# add two integers together
1 + 1

2

In [ ]:
# add two True together
True + True

2

In [ ]:
(1 + 1) == True + True

True

In [ ]:
# Notice you have to indent after you start a if statement.
num = 3;
if num == 3:
  print(num)

3

In [8]:
num = 3
if num % 3 == 0:
    print("Fizz")

Fizz

In [10]:
num = 10
if num % 5 == 0:
    print("Buzz")

Buzz

In [11]:
num = 4
print(num > 0 and num  < 15)

True

In [12]:
# num > 0 is True, num > 15 is False
# Since the first condition is True, it is True
num = 4
num > 0 or num  > 15

True

In [14]:
"""What is inside the else statement will print
because num is not greater than 3
"""
num = 4
if num > 3 :
    print("Hi")
else: 
    print("number is not greater than 3")

Hi

In [15]:
num = 4
if num > 5:
    print('hi')
else:
    print('Hi Class!!!')

Hi Class!!!

In [26]:
num = 19
if num > 50:
    print('num is larger than 50')
elif num == 21:
    print('num = 21')
else:
    print('Catchall condition')

Catchall condition

In [27]:
my_num = 5
if my_num % 2 == 0:
    print("Your number is even")
elif my_num % 2 != 0:
    print("Your number is odd")
else: 
    print("Are you sure your number is an integer?")

Your number is odd

In [28]:
num = 3
if num % 3 == 0 and num % 5 == 0:
    print('FizzBuzz')
elif num % 3 == 0:
    print('Fizz')
elif num % 5 == 0:
    print('Buzz')
else:
    print(num)

Fizz

In [30]:
for num in range(20):
  if num % 3 == 0:
    print('Fizz')
  if num % 5 == 0:
    print('Buzz')
  if num % 3 == 0 and num % 5 == 0:
    print('Fizzbuzz')

Fizz
Buzz
Fizzbuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizzbuzz
Fizz