<a href="https://colab.research.google.com/github/rajasreekalli/datascience-dojo/blob/main/Ensemble_Trees_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
# import regression metrics needed from sklearn
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
# Import the bagging regressor
from sklearn.ensemble import BaggingRegressor
# Import random forest Regressor
from sklearn.ensemble import RandomForestRegressor

In [68]:
df = pd.read_csv('/content/drive/MyDrive/kc_house_data.csv')
df

               id             date  ...  sqft_living15  sqft_lot15
0      7129300520  20141013T000000  ...           1340        5650
1      6414100192  20141209T000000  ...           1690        7639
2      5631500400  20150225T000000  ...           2720        8062
3      2487200875  20141209T000000  ...           1360        5000
4      1954400510  20150218T000000  ...           1800        7503
...           ...              ...  ...            ...         ...
21608   263000018  20140521T000000  ...           1530        1509
21609  6600060120  20150223T000000  ...           1830        7200
21610  1523300141  20140623T000000  ...           1020        2007
21611   291310100  20150116T000000  ...           1410        1287
21612  1523300157  20141015T000000  ...           1020        1357

[21613 rows x 21 columns]

In [69]:
types = df.dtypes
print(types)

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [70]:
print(df.drop_duplicates())

               id             date  ...  sqft_living15  sqft_lot15
0      7129300520  20141013T000000  ...           1340        5650
1      6414100192  20141209T000000  ...           1690        7639
2      5631500400  20150225T000000  ...           2720        8062
3      2487200875  20141209T000000  ...           1360        5000
4      1954400510  20150218T000000  ...           1800        7503
...           ...              ...  ...            ...         ...
21608   263000018  20140521T000000  ...           1530        1509
21609  6600060120  20150223T000000  ...           1830        7200
21610  1523300141  20140623T000000  ...           1020        2007
21611   291310100  20150116T000000  ...           1410        1287
21612  1523300157  20141015T000000  ...           1020        1357

[21613 rows x 21 columns]

In [71]:
item_missing = df.isna()
print(item_missing.sum())

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [72]:
df['waterfront'].nunique()

2

In [73]:
df['view'].nunique()

5

In [74]:
df['condition']

0        3
1        3
2        3
3        5
4        3
        ..
21608    3
21609    3
21610    3
21611    3
21612    3
Name: condition, Length: 21613, dtype: int64

In [75]:
date = ['T000000']
for char in date:
  df['date'] = df['date'].str.replace(char, '')

In [76]:
y = df['price']
X = df.drop(['id' , 'price'], axis = 1)

# Split the data for validation
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [77]:
from sklearn.ensemble import BaggingRegressor

In [78]:
# 1) Bagged trees 
bagreg = BaggingRegressor(random_state = 42)

In [79]:
bagreg.fit(X_train, y_train)

BaggingRegressor(base_estimator=None, bootstrap=True, bootstrap_features=False,
                 max_features=1.0, max_samples=1.0, n_estimators=10,
                 n_jobs=None, oob_score=False, random_state=42, verbose=0,
                 warm_start=False)

In [80]:
bagreg.predict(X_test)

array([ 381645.,  842425., 1128400., ...,  271235., 2079150.,  313990.])

In [81]:
bagreg_train_score = bagreg.score(X_train, y_train)
bagreg_test_score = bagreg.score(X_test, y_test)
print(bagreg_train_score)
print(bagreg_test_score)

0.9761214563262758
0.859227516618789

In [82]:
# 2) Random forest regression techniques on the dataset to predict price from its its features. 
from sklearn.ensemble import RandomForestRegressor

In [83]:
y = df['price']
X = df.drop(['id' , 'price'], axis = 1)

In [84]:
rf = RandomForestRegressor(random_state = 42)
rf

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [85]:
rf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [86]:
rf.predict(X_test)

array([ 376020.5 ,  863379.5 , 1122508.7 , ...,  283612.21, 1957130.  ,
        323478.2 ])

In [87]:
rf_train_score = rf.score(X_train, y_train)
rf_test_score = rf.score(X_test, y_test)
print(rf_train_score)
print(rf_test_score)

0.983142724052495
0.8676922315495724

In [88]:
rf_9 = RandomForestRegressor(max_depth = 9, random_state = 42)
rf_9.fit(X_train, y_train)
rf_9_train_score = rf_9.score(X_train, y_train)
rf_9_test_score = rf_9.score(X_test, y_test)
print(rf_9_train_score)
print(rf_9_test_score)

0.9179232296747009
0.8473259540380336

In [89]:
rf_7 = RandomForestRegressor(n_estimators = 7, random_state = 42)
# Fit the model
rf_7.fit(X_train, y_train)
# Obtain the scores
rf_7_train_score = rf_7.score(X_train, y_train)
rf_7_test_score = rf_7.score(X_test, y_test)
print(rf_7_train_score)
print(rf_7_test_score)

0.9734498449166517
0.8598120985366415

In [95]:
print('Training RMSE:', np.sqrt(mean_squared_error(y_train, rf_9.predict(X_train))))

print('Testing RMSE:', np.sqrt(mean_squared_error(y_test, rf_9.predict(X_test))))

Training RMSE: 103220.34503294427
Testing RMSE: 151122.95600138998

In [96]:
# What are the most imporatant features for your model?
# most important features for model: 

PRICE = df['price']

sqLiving = df['sqft_living']

loft = df['sqft_lot']

floors = df['floors']

sqAbove = df['sqft_above']

sqBasement = df['sqft_basement']

living15 = df['sqft_living15']

loft15 = df['sqft_lot15']

condition = df['condition']

grade = df['grade']

yrBuilt = df['yr_built']

date = df['date']

correlation1 = sqLiving.corr(PRICE)

correlation2 = loft.corr(PRICE)

correlation3 = floors.corr(PRICE)

correlation4 = sqAbove.corr(PRICE)

correlation5 = sqBasement.corr(PRICE)

correlation6 = living15.corr(PRICE)

correlation7 = loft15.corr(PRICE)

correlation8 = condition.corr(PRICE)

correlation9 = grade.corr(PRICE)

correlation10 = yrBuilt.corr(PRICE)

print(correlation1)

print(correlation2)

print(correlation3)

print(correlation4)

print(correlation5)

print(correlation6)

print(correlation7)

print(correlation8)

print(correlation9)

print(correlation10)

0.7020350546118002
0.08966086058710017
0.25679388755071847
0.6055672983560781
0.32381602071198323
0.5853789035795679
0.08244715251948598
0.03636178912899747
0.6674342560202365
0.05401153149479268

In [97]:
# What are the parameters could you have tried tuning?
#ans: I done a simple decision tree model as one idea. Could have removed some factors that dont seem to have muc correlation to price like year built or area of lift which it is an interesting findind loft area has as little relevence as it does relative to other factors