<a href="https://colab.research.google.com/github/rajasreekalli/datascience-dojo/blob/main/Intro_to_Gradient_Boosting_Assignment_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Gradient Boosting

![gradient boosting image](https://media.geeksforgeeks.org/wp-content/uploads/20200721214745/gradientboosting.PNG)

Image thanks to [Geeks for Geeks](https://www.geeksforgeeks.org/ml-gradient-boosting/)

In this assignment you will:
1. import and prepare a dataset for modeling
2. test and evaluate 3 different boosting models and compare the fit times of each.
3. tune the hyperparameters of the best model to reduce overfitting and improve performance.

In [50]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [34]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import classification_report, plot_confusion_matrix
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In this assignment you will be working with census data.  Your goal is to predict whether a person will make more or less than $50k per year in income.

The data is available [here](https://drive.google.com/file/d/1drlRzq-lIY7rxQnvv_3fsxfIfLsjQ4A-/view?usp=sharing)

In [35]:
df = pd.read_csv('/content/drive/MyDrive/census_income.csv')
df

       Unnamed: 0  age  ... native-country income-class
0               0   39  ...  United-States        <=50K
1               1   50  ...  United-States        <=50K
2               2   38  ...  United-States        <=50K
3               3   53  ...  United-States        <=50K
4               4   28  ...           Cuba        <=50K
...           ...  ...  ...            ...          ...
32556       32556   27  ...  United-States        <=50K
32557       32557   40  ...  United-States         >50K
32558       32558   58  ...  United-States        <=50K
32559       32559   22  ...  United-States        <=50K
32560       32560   52  ...  United-States         >50K

[32561 rows x 14 columns]

Prepare your dataset for modeling.

Remember to: 
1. Check for missing data or bad data.
2. Check your target class balance
3. Any other data preparation you think might improve your model performance 
4. Dummy encode categorical values.  You can find the names of all of the columns with categorical data with the following code:
`categorical_cols = X.select_dtypes(include='object').columns`.

[Here is the documentaion](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.select_dtypes.html) for `df.select_dtypes()`

In [36]:
types = df.dtypes
print(types)

Unnamed: 0         int64
age                int64
workclass         object
education         object
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income-class      object
dtype: object

In [37]:
item_missing = df.isna()
print(item_missing.sum())

Unnamed: 0        0
age               0
workclass         0
education         0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income-class      0
dtype: int64

In [38]:
df.duplicated().sum()

0

In [39]:
new_df = df.drop(columns = ['relationship', 'race', 'native-country'], inplace = True)

In [40]:
ohe_df = pd.get_dummies(df, columns = ['capital-gain', 'capital-loss'], drop_first = True)
ohe_df

       Unnamed: 0  age  ... capital-loss_3900 capital-loss_4356
0               0   39  ...                 0                 0
1               1   50  ...                 0                 0
2               2   38  ...                 0                 0
3               3   53  ...                 0                 0
4               4   28  ...                 0                 0
...           ...  ...  ...               ...               ...
32556       32556   27  ...                 0                 0
32557       32557   40  ...                 0                 0
32558       32558   58  ...                 0                 0
32559       32559   22  ...                 0                 0
32560       32560   52  ...                 0                 0

[32561 rows x 218 columns]

In [20]:
X = df.drop(columns = ['income-class'])
y = df['income-class']

In [41]:
X.shape

(32561, 10)

In [42]:
y.shape

(32561,)

# eXtreme Gradient Boosting
We are going to compare both metrics and fit times for our models.  Notice the 'cell magic' in the top of the cell below.  By putting `%%time` at the top of a notebook cell, we can tell it to output how long that cell took to run.  We can use this to compare the speed of each of our different models.  Fit times can be very important for models in deployment, especially with very large dataset and/or many features.

Instantiate an eXtreme Gradient Boosting Classifier (XGBClassifier) below, fit it, and print out a classification report.  Take note of the accuracy, recall, precision, and f1-score, as well as the run time of the cell to compare to our next models.

Which target class is your model better at predicting?  Is it significantly overfit?

# More Gradient Boosting

Now fit and evaluate a Light Gradient Boosting Machine and a the Scikit Learn (sklearn) gradient boost model.  Remember to use the `%%time` cell magic command to get the run time.

## LightGBM

In [43]:
%%time
X = df.drop(columns = ['income-class'])
y = df['income-class']

CPU times: user 3.91 ms, sys: 0 ns, total: 3.91 ms
Wall time: 3.96 ms

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=3)

In [45]:
lgbm = LGBMClassifier()
lgbm

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

## GradientBoostingClassifier

In [46]:
gbc = GradientBoostingClassifier()
gbc

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

# Tuning Gradient Boosting Models

Tree-based gradient boosting models have a LOT of hyperparameters to tune.  Here are the documentation pages for each of the 3 models you used today:

1. [XGBoost Hyperparameter Documentation](https://xgboost.readthedocs.io/en/latest/parameter.html)
2. [LightGBM Hyperparameter Documentation](https://lightgbm.readthedocs.io/en/latest/Parameters-Tuning.html)
3. [Scikit-learn Gradient Boosting Classifier Documentation](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingClassifier.html)

Choose the model you felt performed the best when comparing multiple metrics and the runtime for fitting, and use GridSearchCV to try at least 2 different values each for 3 different hyper parameters in boosting model you chose.

See if you can create a model with an accuracy between 86 and 90.

In [47]:
xgb = XGBClassifier()
xgb

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

# Evaluation

Evaluate your model using a classifiation report and/or a confusion matrix.  Explain in text how your model performed in terms of precision, recall, and it's ability to predict each of the two classes.  Also talk about the benefits or drawbacks of the computation time of that model.

# Conclusion

In this assignment you practiced:
1. data cleaning
2. instantiating, fitting, and evaluating boosting models using multiple metrics
3. timing how long it takes a model to fit and comparing run times between multiple models
4. and choosing a final model based on multiple metrics.