<a href="https://colab.research.google.com/github/rajasreekalli/datascience-dojo/blob/main/KNN_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.pipeline import make_pipeline

In [3]:
df = pd.read_csv('/content/drive/MyDrive/abalone.data')
header=None

In [4]:
df

      M  0.455  0.365  0.095   0.514  0.2245   0.101    0.15  15
0     M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.0700   7
1     F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.2100   9
2     M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.1550  10
3     I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.0550   7
4     I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.1200   8
...  ..    ...    ...    ...     ...     ...     ...     ...  ..
4171  F  0.565  0.450  0.165  0.8870  0.3700  0.2390  0.2490  11
4172  M  0.590  0.440  0.135  0.9660  0.4390  0.2145  0.2605  10
4173  M  0.600  0.475  0.205  1.1760  0.5255  0.2875  0.3080   9
4174  F  0.625  0.485  0.150  1.0945  0.5310  0.2610  0.2960  10
4175  M  0.710  0.555  0.195  1.9485  0.9455  0.3765  0.4950  12

[4176 rows x 9 columns]

In [5]:
df.columns = ['Sex', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'Length', 'Rings']

In [6]:
df

     Sex  Diameter  Height  ...  Shell weight  Length  Rings
0      M     0.350   0.265  ...        0.0485  0.0700      7
1      F     0.530   0.420  ...        0.1415  0.2100      9
2      M     0.440   0.365  ...        0.1140  0.1550     10
3      I     0.330   0.255  ...        0.0395  0.0550      7
4      I     0.425   0.300  ...        0.0775  0.1200      8
...   ..       ...     ...  ...           ...     ...    ...
4171   F     0.565   0.450  ...        0.2390  0.2490     11
4172   M     0.590   0.440  ...        0.2145  0.2605     10
4173   M     0.600   0.475  ...        0.2875  0.3080      9
4174   F     0.625   0.485  ...        0.2610  0.2960     10
4175   M     0.710   0.555  ...        0.3765  0.4950     12

[4176 rows x 9 columns]

In [7]:
X = df.drop(columns= ['Rings', 'Sex'])
y = df['Rings']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [9]:
scaler = StandardScaler()

scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
knn = KNeighborsClassifier(n_neighbors=3)

In [11]:
print(knn)

KNeighborsClassifier(n_neighbors=3)

In [12]:
knn.fit(X_train, y_train)
predictions = knn.predict(X_test)
predictions

array([ 9,  9,  9, ...,  9, 12,  7])

In [13]:
train_preds = knn.predict(X_train)
test_preds = knn.predict(X_test)

In [14]:
score = knn.score(X_train, y_train)
score

0.5146871008939975

In [15]:
score = knn.score(X_test, y_test)
score

0.19923371647509577

In [16]:
pipe = make_pipeline(scaler, knn)
pipe.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('kneighborsclassifier', KNeighborsClassifier(n_neighbors=3))])

In [17]:
# 2) Be sure to scale your data (try using the pipeline!)

pipe = make_pipeline(StandardScaler(), KNeighborsClassifier(n_neighbors = 5))

In [18]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('kneighborsclassifier', KNeighborsClassifier())])

In [19]:
pipe.score(X_train, y_train)
pipe.score(X_test, y_test)

0.21551724137931033

In [20]:
# 3) What is the accuracy of your default model?

from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, classification_report, confusion_matrix
def evaluate_classification(y_true, y_test, average=None):
  accuracy = accuracy_score(y_true, y_test)
  recall = recall_score(y_true, y_test, average=average)
  precision = precision_score(y_true, y_test, average=average)
  f1 = f1_score(y_true, y_test, average=average)

  print(f'Accuracy: {accuracy} \nRecall: {recall} \nPrecision: {precision} \nF1 Score: {f1}')

In [21]:
print('Training Metrics\n')
evaluate_classification(y_train, train_preds, average='macro')
print('\n')

print('Testing Metrics\n')
evaluate_classification(y_test, test_preds, average='macro')

Training Metrics

Accuracy: 0.5146871008939975
Recall: 0.2784315144894159
Precision: 0.3813784885867726
F1 Score: 0.27717356163620116


Testing Metrics

Accuracy: 0.19923371647509577
Recall: 0.09174608157102997
Precision: 0.08456094097276255
F1 Score: 0.08370994801293814

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [22]:
# 4) What is the optimal accuracy you can achieve by tuning the value of K using KNN?

print('Training Accuracy', pipe.score(X_train, y_train))

Training Accuracy 0.4425287356321839

In [23]:
print('Testing Accuracy', pipe.score(X_test, y_test))

Testing Accuracy 0.21551724137931033