<a href="https://colab.research.google.com/github/rajasreekalli/datascience-dojo/blob/main/Week_7_Project_2_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [293]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeRegressor

In [263]:
df = pd.read_csv('/content/drive/MyDrive/Tweets.csv')
df

                 tweet_id  ...               user_timezone
0      570306133677760513  ...  Eastern Time (US & Canada)
1      570301130888122368  ...  Pacific Time (US & Canada)
2      570301083672813571  ...  Central Time (US & Canada)
3      570301031407624196  ...  Pacific Time (US & Canada)
4      570300817074462722  ...  Pacific Time (US & Canada)
...                   ...  ...                         ...
14635  569587686496825344  ...                         NaN
14636  569587371693355008  ...                         NaN
14637  569587242672398336  ...                         NaN
14638  569587188687634433  ...  Eastern Time (US & Canada)
14639  569587140490866689  ...                         NaN

[14640 rows x 15 columns]

This data about review of the Airlines by the customers in Twitter from Source https://www.kaggle.com/crowdflower/twitter-airline-sentiment

In [264]:
df.dtypes

tweet_id                          int64
airline_sentiment                object
airline_sentiment_confidence    float64
negativereason                   object
negativereason_confidence       float64
airline                          object
airline_sentiment_gold           object
name                             object
negativereason_gold              object
retweet_count                     int64
text                             object
tweet_coord                      object
tweet_created                    object
tweet_location                   object
user_timezone                    object
dtype: object

In [265]:
df.duplicated().any()

True

In [266]:
df[df.duplicated(keep = False)]

                 tweet_id  ...                user_timezone
11879  570308309682675712  ...                        Quito
11898  570305051819941889  ...                        Quito
11902  570303383782989824  ...  Mountain Time (US & Canada)
11905  570301929580048385  ...       Atlantic Time (Canada)
11907  570301395141836801  ...   Central Time (US & Canada)
...                   ...  ...                          ...
12155  570275010759102466  ...                          NaN
12157  570273819287531520  ...   Central Time (US & Canada)
12158  570273710210469888  ...   Eastern Time (US & Canada)
12159  570272880556011520  ...   Eastern Time (US & Canada)
12162  570272018840428544  ...  Mountain Time (US & Canada)

[72 rows x 15 columns]

In [267]:
df.drop_duplicates(inplace = True)

In [268]:
print('Missing data:\n', df.isna().sum())
print('\n')
print('Duplicates:', df.duplicated().sum())

Missing data:
 tweet_id                            0
airline_sentiment                   0
airline_sentiment_confidence        0
negativereason                   5445
negativereason_confidence        4101
airline                             0
airline_sentiment_gold          14564
name                                0
negativereason_gold             14572
retweet_count                       0
text                                0
tweet_coord                     13589
tweet_created                       0
tweet_location                   4723
user_timezone                    4814
dtype: int64


Duplicates: 0

In [269]:
address_missing=df.loc[0:14640,:].fillna(method='ffill')
print(address_missing)

                 tweet_id  ...               user_timezone
0      570306133677760513  ...  Eastern Time (US & Canada)
1      570301130888122368  ...  Pacific Time (US & Canada)
2      570301083672813571  ...  Central Time (US & Canada)
3      570301031407624196  ...  Pacific Time (US & Canada)
4      570300817074462722  ...  Pacific Time (US & Canada)
...                   ...  ...                         ...
14635  569587686496825344  ...                       Quito
14636  569587371693355008  ...                       Quito
14637  569587242672398336  ...                       Quito
14638  569587188687634433  ...  Eastern Time (US & Canada)
14639  569587140490866689  ...  Eastern Time (US & Canada)

[14604 rows x 15 columns]

In [270]:
final_missing = address_missing.isna()
print(final_missing.sum())

tweet_id                           0
airline_sentiment                  0
airline_sentiment_confidence       0
negativereason                     3
negativereason_confidence          1
airline                            0
airline_sentiment_gold          1286
name                               0
negativereason_gold             1286
retweet_count                      0
text                               0
tweet_coord                       21
tweet_created                      0
tweet_location                     2
user_timezone                      0
dtype: int64

In [271]:
data_missing = final_missing.isna()
print(data_missing.sum())

tweet_id                        0
airline_sentiment               0
airline_sentiment_confidence    0
negativereason                  0
negativereason_confidence       0
airline                         0
airline_sentiment_gold          0
name                            0
negativereason_gold             0
retweet_count                   0
text                            0
tweet_coord                     0
tweet_created                   0
tweet_location                  0
user_timezone                   0
dtype: int64

In [272]:
drop_columns = df.drop(columns=['airline_sentiment_gold', 'negativereason_gold', 'tweet_coord'])

In [273]:
X = df.drop(columns='tweet_created')
y = df['tweet_created']

In [274]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100)

In [275]:
X.shape

(14604, 14)

In [276]:
print(X.shape)
print(y.shape)

(14604, 14)
(14604,)

In [294]:
dec_tree = DecisionTreeRegressor(random_state = 42)

In [295]:
dec_tree.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=42, splitter='best')

In [296]:
train_preds = dec_tree.predict(X_train)
test_preds = dec_tree.predict(X_test)

In [297]:
train_score = dec_tree.score(X_train, y_train)
test_score = dec_tree.score(X_test, y_test)
print(train_score)
print(test_score)

1.0
-0.12446864856789765

In [277]:
# In this data cleaning is more challenging to me.

B. Backup Data Analysis.

In [278]:
df = pd.read_csv('/content/drive/MyDrive/Mall_Customers.csv')
df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

This data about Number of customers visiting a Mall and it's Revenue from the source https://www.kaggle.com/shwetabh123/mall-customers?select=Mall_Customers.csv

In [279]:
df.dtypes

CustomerID                 int64
Genre                     object
Age                        int64
Annual Income (k$)         int64
Spending Score (1-100)     int64
dtype: object

In [280]:
df.duplicated().any()

False

In [281]:
address_missing=df.loc[0:14640,:].fillna(method='ffill')
print(address_missing)

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [282]:
final_missing = address_missing.isna()
print(final_missing.sum())

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [283]:
drop_columns = df.drop(columns=['CustomerID', 'Genre'])

In [284]:
X = df.drop(columns=['Spending Score (1-100)', 'Genre'])
y = df['Spending Score (1-100)']

In [285]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100)

In [286]:
X.shape

(200, 3)

In [287]:
print(X.shape)
print(y.shape)

(200, 3)
(200,)

In [288]:
from sklearn.tree import DecisionTreeClassifier

In [289]:
dec_tree = DecisionTreeClassifier(random_state = 42)
dec_tree

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=42, splitter='best')

In [290]:
dec_tree.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=42, splitter='best')

In [291]:
dec_tree.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=42, splitter='best')

In [292]:
dec_tree.predict(X_test)

array([95, 48, 41, 42, 46,  8, 52, 42, 60, 52, 36, 50, 20, 36, 56, 20, 36,
       89, 73, 81,  6, 49, 76, 65, 55, 95, 78, 55, 22, 58, 53, 59, 76, 10,
       39, 52, 14, 10, 24, 42, 75, 40, 97, 69, 77, 42, 52, 32, 82, 91])